[Unit]
Description=UlanziSolaranzeigeConnector Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/scripts/Ulanzi-Solaranzeige-Connector
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/scripts/Ulanzi-Solaranzeige-Connector/ulanziconnect.py /dev/null 2>&1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

